<% title "New Folder" %>

<%= render 'form' %>

<p>
<% if @folder.parent %>
  <%= link_to "Back to '#{@folder.parent.name}'", browse_path(@folder.parent) %>
<% else %>
  <%= link_to "Back to home page", root_url %>
<% end %>
</p>