body {
  background-color: #efefef;
  font-family: sans-serif;
  font-size: 14px;
}

body>header {
  width: 880px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;
}
.logo a {
  color: #338DCF;
  float: left;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #FFFFFF;
  text-decoration:none;
}

a img {
  border: none;
}

a {
  color: #0000FF;
  -webkit-transition: all linear 0.2s;
}
a:hover {
  color: #26B2FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 800px;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: 1px solid #bfbfbf;
}

#login-user-status { float: right; }

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
/* Forms */
label {
  display: block;
  font-weight: bold;
  font-size: 90%;
}
.back-cancel {
  font-size: 11px;
}

/* Tables */
table { width: 100%; border: 0; }
th {
  font-size: 120%;
  text-align: left;
}
th, td { padding: 5px; }

/* Index */
nav ul {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin: 0 5px 0 0;
  padding: 0;
  display: inline-block;
}
nav a, input[type=submit] {
  font-size: 12px;
  border-radius: 5px;
  padding: 4px 8px;
  border: 1px solid #d3d3d3;
  background: #FFFFFF;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #DDDDDD 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#DDDDDD));
  color: #393939;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
  -webkit-transition: none;
  cursor: pointer;
}
nav a:hover, input[type=submit]:hover { color: #006CFF; }

tr.folder-list td:first-of-type:before {
  content: "→";
  position: relative;
  font-size: 16px;
  margin-right: 5px;
}

tr.shared_folder td:first-of-type:before {
  content: "✓";
}
/* Breadcrumbs */
.breadcrumbs {
  margin: 10px 0;
  font-weight: bold;
}
.breadcrumbs a {
  text-decoration: none;
}

/* Actions */
.actions ul {
  margin: 0;
  padding: 0;
  float: right;
}
.actions ul li {
  display: inline-block;
  margin-left: 5px;
}
.actions a {
  border: 1px solid #CFE9FF;
  font-size: 80%;
  padding: 2px 4px;
  text-decoration: none;
  border-radius: 3px;
}
.actions a:hover {
  border-color: #8FCDFF;
}
.actions .delete a {
  color: #BF0B12;
  border-color: #FFCFD1;
}
.actions .delete a:hover {
  color: #BF0B12;
  border-color: #FF8F93;
}

/* Invitation form */
#invitation_form { display: none; font-size: 14px; }

.ui-button-text-only .ui-button-text {
  font-size: 14px;
  padding: 3px 10px;
}
.share .ui-button-text-only .ui-button-text {
  padding: 0 2px;
  font-size: 11px;
  font-weight: normal;
}
#invitation_form input.text { margin-bottom: 10px; }
#invitation_form input.text, #invitation_form textarea {
  width: 480px;
  height: 20px;
  font-size: 12px;
  color: #7f7f7f;
}
#invitation_form textarea { height: 100px; }