<div class="breadcrumbs">
<% if @current_folder #checking we're under a folder %>
  <%= link_to "ShareBox", root_url %>
  <% @current_folder.ancestors.reverse.each do |folder| %>
    &raquo; <%= link_to folder.name, browse_path(folder) %>
  <% end %>
  &raquo; <%= @current_folder.name %>
<% else #not under a folder %>
  ShareBox
<% end %>
</div>